/* 
    -----[Stylesheet]-----
    Autor: Emanuel Cândido 
	Email: emanueljosecandido@hotmail.com
	GitHub: https://github.com/EmanuelJoseCandido
	WebSite: COVID-19 em Angola.
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #edf0f1;
    font-family: Montserrat, sans-serif; 
}

li, a, button{
    font-family: Montserrat, sans-serif; 
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
}

/* Header */
header{
    background-color: #171716;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);  
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.logo{ 
    cursor: pointer;
    margin-left: 15px;
    font-size: 14pt;
}

.menu-icons.open{
    color: #F1C40F;
    margin-right: 30px;
}

span.black, header span.yellow, header span.red{
    transition: all 650ms ease-in-out;
}

.covid span.black{
    color: #080807;
}

.barra span.yellow{
    color: #F1C40F;
}

span.angola{
    color: #E84C3D;
}

div.logo:hover span.black{
    color: #080807;
}

div.logo:hover span.yellow{
    color: #F1C40F;
}

div.logo:hover span.red{
    color: #E84C3D;
}

.menu-icons{
    font-size: 30pt;
    cursor: pointer;
}

.menu-icons.close{
    position: absolute;
    color: #E84C3D;
    margin-top: -560px;
    margin-left: 10px;
}

header .nav-links{
    padding-right: 25px;
    width: 18rem;
    height: 100vh;
    background-color: #181817;
    position: fixed;
    top: 0;
    right:  -22rem;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1500;
    transition: all 650ms ease-in-out;
}

.nav-links.open{
    right: 0;
}

header .nav-links li a{
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

header .nav-links li{
    list-style: none;
    margin: 30px;
    margin-left: 50px;
}

header .nav-links .social li{
    margin: 0px;
}

header .nav-links .list-normal:hover{
    color: #F1C40F;
}

header .nav-links .contact{
    padding: 9px 25px;
    background-color: rgb(241, 196, 15);
    color: #080807;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    transition: all .3s ease-in-out;
}

header .nav-links .contact:hover{
    background-color: rgba(241, 196, 15, 0.8);
}

header ul li a:not(:only-child)::after {
    padding-left: 2px;
    content: ' ▾';
}

header .nav-links .footer-nav{
    position: absolute;
    margin-top: 550px;
    margin-left: 25px;
}

header .nav-links .footer-nav a{
    text-decoration: none;
    color: #E84C3D;
}

header .nav-links .footer-nav .social li a:hover{
    background: transparent;
}

/* Header */


/* Hero */
.hero{
    width: 100%;
    height: 100vh;
    background: url('../galeira/imagens/8.png') center no-repeat; 
    
}

.hero .titles{
    color: #E84C3D;
    font-size: 18pt;
}

.hero .text{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.hero .text .update{
    margin-bottom: -20px;
}
.hero .text .source{
    text-align: center;
    margin-top: 20px;
}

.hero .text .source a{
    color: #E84C3D;
    text-decoration: none;
}

.hero .data{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero .data div{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100px;
    width: 200px;
    font-size: 15pt;
    border-radius: 8px/7px;
    margin: 10px;
}

.hero .data .info-label{
    margin-top: 5px;
}
.hero .data .info-number{
    font-size: 25pt;
}
/* Hero */


/* Numbers */
#numbers{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    padding: 30px;
    background: #181817;
}

#numbers h1{
    color: #E84C3D;
    font-size: 4rem;
    opacity: .2;
    position: absolute;
    transition: all 650ms ease-in-out;
}

#numbers .update{
    background: black; 
    border-radius: 8px 8px 0px 0px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

#numbers:hover h1{
    opacity: 1;
}

#numbers .info{
    margin-top: 50px;
    position: relative;
    width: 100%;
    border-radius: 8px/7px;
    transition: all 650ms ease-in-out;
}

#numbers .info-covid{
    background: #181817;
    color: #E84C3D;
    text-align: center;
    border-radius: 8px/7px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    transition: all 650ms ease-in-out;
}

#numbers .info-covid h2{
    padding: 15px;
    font-size: 15pt;
}

.numbers-covid{
    background: rgba(0, 0, 0, 0.8);
}

#numbers .info-covid .numbers-covid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
}

#numbers .info-covid .numbers-covid div{
    margin: 5px;
}

.pc{
    display: none;
}

#numbers .uppercase{
    text-transform: uppercase;
}

#numbers .tables{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}

thead{
    background: rgba(0, 0, 0, 0.8);
    color: #E84C3D;
}

tbody{
    background: #181817;
    color: black;
}

#numbers .table{
    width: 100%;
    margin-top: 50px;
    border-collapse: collapse;
	border: 1px solid black;
    background: #1D1D1D;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    border-radius: 8px/7px;
    color: #E84C3D;
}

#numbers .table td.two-objects{
    display: flex;
    align-items: center;
    border: 0px;
    padding-left: 10px;
    padding-right: 10px;   
}

#numbers .table td.two-objects i{
  color: #FD7E14;
}

#numbers .table td.two-objects span{
    padding: 5px;
}

#numbers .table th{
    padding: 10px;
}

#numbers .table td, th{
    border: 1px solid black;
    text-align: center;
}

#numbers .table tr:nth-child(even){
    background: #2D2D2D;
}

#numbers .info .buttonTableMundial{
    margin-top: 50px;
}

#numbers .info .buttonTableMundial{
    text-align: center;
    padding: 9px 25px;
    background-color: #E84C3D;
    opacity: .5;
    color: #080807;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    transition: all .3s ease-in-out;
}

#numbers .info .buttonTableMundial:hover{
    opacity: 1;
}
/* Numbers */

/* DIV PIC */

.pic.covid-19{
    position: absolute;
    right: 0;
    margin-top: -50px;
    transition: all 650ms ease-in-out;
}

.pic.covid-19 img{
    width: 100px;
    height: 100px;
}

/* DIV PIC */


/* Covid-19 */

#covid-19{
    background: #edf0f1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    padding: 30px;
}

#covid-19 h1{
    color: #181817;
    font-size: 4rem;
    opacity: .6;
    position: absolute;
    transition: all 650ms ease-in-out;
}

#covid-19:hover h1{
    opacity: 1;
}

#covid-19 .about-covid-19{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    border-radius: 8px/7px;
    transition: all 650ms ease-in-out;
    margin-top: 40px;
}

.item-covid-19 i{
    font-size: 40pt;
}

#covid-19 .about-covid-19 .item-covid-19{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
    height: 200px;
    width: 200px;
    background: #edf0f1;
    border-radius: 8px/7px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    cursor: pointer;
    transition: all 650ms ease-in-out;
}

#covid-19 .about-covid-19 .item-covid-19:hover h2{
    color: #181817;
    opacity: 1;
}

#covid-19 .about-covid-19 .item-covid-19 h2{
    opacity: .7;
    transition: all 650ms ease-in-out;
}

/* Modal */
.modal-covid-19{
    display: none;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    z-index: 1000; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;   
}

.description-covid-19{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 95%;
    margin-bottom: 50px;
    border-radius: 8px/7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.description-covid-19 h4, .description-covid-19 h3{
    text-align: left;
    margin: 10px;
}

.description-covid-19 h4{
    margin-top: 50px;
}

.description-covid-19 p{
    text-align: justify;
    text-indent: 50px;
    margin: 10px;
}

.description-covid-19 li{
    color: #080807;
    text-align: left;
    margin-left: 30px;
    text-align: justify;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-covid-19 .close {
    position: relative;
    z-index: 1500;
    color: #080807;
    float: right;
    margin-right: 350px;
    font-size: 50px;
    font-weight: bold;
    transition: all 650ms ease-in-out;
}

.modal-covid-19 .close:hover,
.modal-covid-19 .close:focus {
    color: #E84C3D;
    text-decoration: none;
    cursor: pointer;
}
/* Modal */

/* Covid-19 */


/* Team */

#team .team-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
    background: #111110;
    color: #F1C40F;
    border-radius: 8px/7px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
    padding: 0px;
    transition: all 650ms ease-in-out;
}

#team .team-content .pic img{
    height: 250px;
    width: 250px;
    border-radius: 8px 8px 0px 0px;
} 

.team-content .description{
    margin-top: 25px;
}

.team-content .social{
    width: 100%;
    margin-top: 25px;
    bottom: -100px;
    background: #E84C3D;
    border-radius: 0px 0px 8px 8px;
    transition: all 650ms ease-in-out;
}

#team .team-content:hover .social{
    bottom: 0;
}

.social li{
    display: inline-block;
}

.social li a{
    color: #111110;
    display: block;
    padding: 10px;
    font-size: 20px;
    transition: all 650ms ease-in-out;
}

.social li a:hover{
    background: #111110;
    color: #F1C40F;
}
/* Team */



/* Footer */

footer{
    text-align: center;
    background: #181817;
    display: flex;
    flex-direction: column;
    padding: 80px 0px 0px 0px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

footer div.logo{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 20pt;
}

footer h3{
    color: #E84C3D;
    opacity: .5;
    margin-bottom: 10px;
}

footer img{
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: -70px;
    margin-top: -260px;
}

footer .first-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

footer .first-content .item-footer{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

footer .social i{
    font-size: 20pt;
}
footer .social{
    margin-left: -10px;
}

footer .social a{
    color: #edf0f1;
}

footer .social a:hover{
    background: none;
    color: #F1C40F;
}
footer li{
    list-style: none;
}

footer a{
    text-decoration: none;
    transition: all .3s ease-in-out;
}

footer a:hover{
    color: #F1C40F;
}

footer .second-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: #E84C3D;
    opacity: .5;
    width: 100%;
    padding: 10px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
}

/* Footer */

/* Media Query of 858px */
@media screen and (min-width: 858px)
{
    /* Header */
    header .nav-links{
        width: initial;
        height: initial;
        position: initial;
        top: initial;
        right: initial;
        display: flex;
        flex-direction: row;
        transition: initial;
        background: transparent;
        margin-top: initial;
    }

    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0px 10%;
    }

    header div.logo{
        font-weight: bolder;
        font-size: 18pt;
        cursor: pointer;
    }

    header .menu-icons.open{
        display: none;
    }

    header .nav-links li{
        display: inline-block;
        padding:  18px 15px;
    }

    header .sub-menu li{
        transition: all .3s ease-in-out;
        border-top: 1px solid #edf0f1;
        padding: 1rem 2rem;
    }

    header .sub-menu{
        position: absolute;
        margin-top: 18px;
        display: none;
        flex-direction: column;
        background: #181817;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        transition: all .3s ease-in-out;
    }

    header ul li:hover ul{
        display: flex;
    }

    header .nav-links li{
        list-style: none;
        margin: initial;
        margin-left: 50px;
    }

    header .nav-links .footer-nav{
        display: none;
    }
    /* Header */

    /* Hero */
    .hero .titles{
        color: #E84C3D;
        font-size: 25pt;
    }

    .hero .text{
        width: 100%;
        position: absolute;
        top: 30%;
        text-align: center;
    }

    .hero .data{
        margin-top: 65px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
    }

    .hero .data div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        height: 120px;
        width: 250px;
        font-size: 15pt;
        border-radius: 8px/7px;
    }

    .hero .data .info-number{
        font-size: 25pt;
    }
    /* Hero */

    /* Numbers */
    #numbers{
        padding: 120px;
    }

    #numbers h1{
        font-size: 10rem;
        position: absolute;
        margin-top: -120px;
        margin-left: -650px;
    }

    #numbers .info{
        height: 450px;
        margin-top: initial;
    }

    #numbers .info-covid h2{
        padding: 10px;
        font-size: 22pt;
    }

    #numbers .info-covid .numbers-covid{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        padding: initial;
        font-size: 15pt;
    }

    .phone{
        display: none;
    }
    
    .pc{
        display: initial;
    }

    #numbers .uppercase{
        text-transform: initial;
    }
    
    #numbers .tables{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    #numbers .table{
        width: initial;
        font-size: 15pt;
    }
  
    #numbers .table td.two-objects{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0px;
        padding-left: 10px;
        padding-right: 10px;   
    }
    /* Numbers */

    /* DIV PIC */

    .pic.covid-19{
        position: absolute;
        right: 0;
        margin-top: -120px;
        transition: all 650ms ease-in-out;
    }

    .pic.covid-19 img{
        width: initial;
        height: initial;
    }

    /* DIV PIC */

    /* Covid-19 */

    #covid-19 .about-covid-19{
        margin-top: 60px;
        padding: 0px 120px;
    }

    #covid-19 h1{
        font-size: 10rem;
        position: absolute;
        margin-top: -30px;
        margin-left: -700px;
    }

    #covid-19 .about-covid-19 .item-covid-19{
        margin: 20px 20px 20px 20px;
        height: 230px;
        width: 230px;
        background: #edf0f1;
    }

    /* Modal */

    .description-covid-19{
        padding: 50px;
        width: 50%;
    }
    /* Modal */

    /* Covid-19  */

    /* Footer */

    footer{
        text-align: initial;
    }

    footer img{
        width: initial;
        height: initial;
        margin-left: -50px;
        margin-top: -340px;
    }

    footer .first-content{
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
    }

    footer .first-content .item-footer{
        margin-left: 30px;
        margin-right: 30px;
    }
   
    /* Footer */
}
/* Media Query of 858px */


/* Media Query of 858px */
@media screen and (min-width: 858px)
{

}
/* Media Query of 858px */
